.todo_list {
    width: 100%;
    padding: 20px;
    border-radius: 14px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.todo_list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
}
.list_name{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
}